.advantages__list{
    display: flex;
    text-align: center;
    gap: 30px;
    }
    
    .advantages__item{
    width: calc(( 100% - 90% ) / 4);
    
    }
    .advantages__icon{
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color:#F5F4FA;
    border-radius: 4px;
    }
    .icon{
    width: 70px;
    height: 70px;
    }
    