.advantages__list{
    
    text-align: center;
    gap: 30px;
 
    @media screen  and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
      }
    @media screen  and (min-width:1600px){
        width:1200px;
        display: flex;
      }
    }
    
    .advantages__item{
   
        @media screen  and (min-width:768px){
        flex-basis: calc((100% - 30px) / 2);
        width: 354px;
            
          }
    }
    .advantages__icon{
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color:#F5F4FA;
    border-radius: 4px;
    
    }
    .icon{
    width: 70px;
    height: 70px;
    }
    