.section-title{
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    margin-bottom: 50px;
    }
   
     .list-contact{
      display: flex;
      align-items: center;
      gap: 50px;
     }
     .list{
       list-style-type: none;
       display: inline;
     }