body{
    font-family:"Roboto";
    font-size: 14px;
    letter-spacing: 0.03em;
    list-style-type:none;
    text-decoration: none;
    color:var(--title-text-color);
    background-color: var(--primary-backgroungd-color);
    }
    .section { 
        padding: 94px 0;
       }
       
       .container1 {
        width: 1200px;
       padding: 0 15px;
        margin: 0 auto;
       margin: 0 auto; 
       width: 480px;
       height: 400;
       padding:0 auto ;

       }