:root{
    --primary-text-color:#757575; 
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-backgroungd-color:#FFFFFF;
    --background-color:#2F303A;
    --team-backgroung-color:#F5F4FA;
    --gap:30px;
    --icon-color:#AFB1B8;
  }