.advantages__item{
    width: 270px;
    }
    .advantages__title{
      text-align: start;
      margin-bottom: 10px;
      font-size: 14px;
      color: var(--title-text-color);
      line-height: 1.17;
      text-transform: uppercase;
    }
    
    .advantages__description{
    line-height: 1.7;
    color:var(--primary-text-color);
    text-align: left;
    }
    